    <div class="extra-pagination">
        {% include "partials/pagination.html" %}
    </div>

    {% for article in articles_page.object_list %}

        {% set primary_tag=None %}
        {% if article.category %}
            {% set primary_tag=article.category %}
        {% elif article.tags %}
            {% set primary_tag=article.tags[0] %}
        {% endif %}

        {# <!-- Choosing cover image --> #}
        {% if article.cover %}
            {% if article.cover|lower|truncate(4, True, '') == "http" %}
                {% set selected_cover = article.cover %}
            {% elif article.cover.startswith('/') %}
                {% set selected_cover = SITEURL+article.cover %}
            {% else %}
                {% set selected_cover = SITEURL+"/"+article.cover %}
            {% endif %}
        {% endif %}

    <article class="post">
        <div class="inner">
            <div class="box post-box">
                <h2 class="post-title">
                    <a href="{{ SITEURL }}/{{ article.url }}"
                       rel="bookmark"
                       title="Link do {{ article.title|striptags }}">{{ article.title }}</a>
                </h2>
                <span class="post-meta">
                    <time datetime="{{ article.locale_date }}">{{ article.locale_date }}</time>
                </span>

                {% if selected_cover %}
                <div class="post-cover">
                    <img src="{{ selected_cover }}" alt="{{ current_title }}" />
                </div>
                {% endif %}

            {% if SHOW_FULL_ARTICLE_IN_SUMMARY|default(False) %}
                <section class="post-content">
                {{ article.content }}
                </section>
            {% else %}
                <p class="post-excerpt">
                    {% if article.has_summary %}
                        {{ article.summary }}
                    {% elif article.summary %}
                        {{ article.summary|striptags|truncate(250) }}
                    {% endif %}
                </p>
            {% endif %}
                {% if SHOW_COMMENTS_COUNT_IN_ARTICLE_SUMMARY|default(True) or SHOW_TAGS_IN_ARTICLE_SUMMARY|default(False) %}
                <div class="post-excerpt">
                    {% if SHOW_COMMENTS_COUNT_IN_ARTICLE_SUMMARY|default(True) %}
                        {% include 'partials/comments_count.html' %}
                    {% endif %}

                    {% if SHOW_TAGS_IN_ARTICLE_SUMMARY|default(False) %}
                        {% if article.tags %}
                        <aside class="post-tags">
                            {% for tag in article.tags[0:3] %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>{% if not loop.last %}{% endif %}{% endfor %}
                        </aside>
                        {% endif %}
                    {% endif %}
                </div>
                {% endif %}

                <p class="post-read-more">
                    <a href="{{ SITEURL }}/{{ article.url }}"
                        rel="bookmark"
                        title="Czytaj dalej {{ article.title|striptags }}">Czytaj dalej »</a>
                </p>

            </div>
        </div>
    </article>
    {% endfor %}

    {% include "partials/pagination.html" %}
